In [3]:
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", 50)
pd.set_option("display.width", 120)

"""
Un f-string es la forma moderna y directa de construir strings en Python insertando variables y expresiones dentro del texto.
    f"S{i:02d}" 
        "S" → texto fijo
        02d significa
            d → entero decimal
            2 → mínimo 2 dígitos
            0 → rellenar con ceros a la izquierda
    
    ["control"]*6  => multiplicación de listas en Python.
        ["control", "control", "control", "control", "control", "control"]
    
"""

df = pd.DataFrame({
    "sample_id": [f"S{i:02d}" for i in range(1, 13)],
    "group": ["control"]*6 + ["treated"]*6,
    "gene": ["NGAL"]*12,
    "expression": [10.2, 9.7, 11.1, 10.5, 9.9, 10.0, 14.2, 15.1, 13.8, 14.7, 16.0, 15.4],
    "sex": ["F","M","F","M","F","M","F","M","F","M","F","M"]
})

df

   sample_id    group  gene  expression sex
0        S01  control  NGAL        10.2   F
1        S02  control  NGAL         9.7   M
2        S03  control  NGAL        11.1   F
3        S04  control  NGAL        10.5   M
4        S05  control  NGAL         9.9   F
5        S06  control  NGAL        10.0   M
6        S07  treated  NGAL        14.2   F
7        S08  treated  NGAL        15.1   M
8        S09  treated  NGAL        13.8   F
9        S10  treated  NGAL        14.7   M
10       S11  treated  NGAL        16.0   F
11       S12  treated  NGAL        15.4   M

In [4]:
df.shape

(12, 5)

In [5]:
df.head(3)

  sample_id    group  gene  expression sex
0       S01  control  NGAL        10.2   F
1       S02  control  NGAL         9.7   M
2       S03  control  NGAL        11.1   F

In [6]:
df.tail(3)

   sample_id    group  gene  expression sex
9        S10  treated  NGAL        14.7   M
10       S11  treated  NGAL        16.0   F
11       S12  treated  NGAL        15.4   M

In [7]:
df.columns

Index(['sample_id', 'group', 'gene', 'expression', 'sex'], dtype='object')

In [8]:
df.dtypes

sample_id      object
group          object
gene           object
expression    float64
sex            object
dtype: object

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   sample_id   12 non-null     object
 1   group       12 non-null     object
 2   gene        12 non-null     object
 3   expression  12 non-null     float64
 4   sex         12 non-null     object
dtypes: float64(1), object(4)
memory usage: 612.0+ bytes

In [10]:
df["expression"].head()

0    10.2
1     9.7
2    11.1
3    10.5
4     9.9
Name: expression, dtype: float64

In [11]:
df[["sample_id", "group", "expression"]].head()

  sample_id    group  expression
0       S01  control        10.2
1       S02  control         9.7
2       S03  control        11.1
3       S04  control        10.5
4       S05  control         9.9

In [12]:
df[df["group"] == "control"]

  sample_id    group  gene  expression sex
0       S01  control  NGAL        10.2   F
1       S02  control  NGAL         9.7   M
2       S03  control  NGAL        11.1   F
3       S04  control  NGAL        10.5   M
4       S05  control  NGAL         9.9   F
5       S06  control  NGAL        10.0   M

In [13]:
# Selección de columnas
df[df["expression"] > 12]

   sample_id    group  gene  expression sex
6        S07  treated  NGAL        14.2   F
7        S08  treated  NGAL        15.1   M
8        S09  treated  NGAL        13.8   F
9        S10  treated  NGAL        14.7   M
10       S11  treated  NGAL        16.0   F
11       S12  treated  NGAL        15.4   M

In [14]:
# Filtros
df[(df["group"] == "treated") & (df["sex"] == "F")]

   sample_id    group  gene  expression sex
6        S07  treated  NGAL        14.2   F
8        S09  treated  NGAL        13.8   F
10       S11  treated  NGAL        16.0   F

In [15]:
df.loc[0:2, ["sample_id", "expression"]]

  sample_id  expression
0       S01        10.2
1       S02         9.7
2       S03        11.1

In [16]:
df.iloc[0:3, 0:4]

  sample_id    group  gene  expression
0       S01  control  NGAL        10.2
1       S02  control  NGAL         9.7
2       S03  control  NGAL        11.1

In [17]:
# Transformaciones típicas
df["log_expression"] = np.log1p(df["expression"])
df["is_treated"] = (df["group"] == "treated").astype(int)
df

   sample_id    group  gene  expression sex  log_expression  is_treated
0        S01  control  NGAL        10.2   F        2.415914           0
1        S02  control  NGAL         9.7   M        2.370244           0
2        S03  control  NGAL        11.1   F        2.493205           0
3        S04  control  NGAL        10.5   M        2.442347           0
4        S05  control  NGAL         9.9   F        2.388763           0
5        S06  control  NGAL        10.0   M        2.397895           0
6        S07  treated  NGAL        14.2   F        2.721295           1
7        S08  treated  NGAL        15.1   M        2.778819           1
8        S09  treated  NGAL        13.8   F        2.694627           1
9        S10  treated  NGAL        14.7   M        2.753661           1
10       S11  treated  NGAL        16.0   F        2.833213           1
11       S12  treated  NGAL        15.4   M        2.797281           1

In [18]:
# Ordenar
df.sort_values("expression", ascending=False).head()

   sample_id    group  gene  expression sex  log_expression  is_treated
10       S11  treated  NGAL        16.0   F        2.833213           1
11       S12  treated  NGAL        15.4   M        2.797281           1
7        S08  treated  NGAL        15.1   M        2.778819           1
9        S10  treated  NGAL        14.7   M        2.753661           1
6        S07  treated  NGAL        14.2   F        2.721295           1

In [19]:
# Descriptivo global
df["expression"].describe()

count    12.000000
mean     12.550000
std       2.502907
min       9.700000
25%      10.150000
50%      12.450000
75%      14.800000
max      16.000000
Name: expression, dtype: float64

In [20]:
# Descriptivo por grupo
df.groupby("group")["expression"].describe()

         count       mean       std   min     25%   50%     75%   max
group
control    6.0  10.233333  0.504645   9.7   9.925  10.1  10.425  11.1
treated    6.0  14.866667  0.804156  13.8  14.325  14.9  15.325  16.0

In [21]:
# Agregación típica
summary = df.groupby("group").agg(
    n=("expression", "count"),
    mean=("expression", "mean"),
    std=("expression", "std"),
    median=("expression", "median"),
    p25=("expression", lambda s: s.quantile(0.25)),
    p75=("expression", lambda s: s.quantile(0.75)),
)
summary

         n       mean       std  median     p25     p75
group
control  6  10.233333  0.504645    10.1   9.925  10.425
treated  6  14.866667  0.804156    14.9  14.325  15.325

In [22]:
# Simula missing y aprende a detectarlo:
df2 = df.copy()
df2.loc[[2, 9], "expression"] = np.nan

df2.isna().sum()

sample_id         0
group             0
gene              0
expression        2
sex               0
log_expression    0
is_treated        0
dtype: int64

In [23]:
df2[df2["expression"].isna()]

  sample_id    group  gene  expression sex  log_expression  is_treated
2       S03  control  NGAL         NaN   F        2.493205           0
9       S10  treated  NGAL         NaN   M        2.753661           1

In [24]:
# Opciones típicas
# dropna => drop nan => remueve los valores vacios
df2_drop = df2.dropna(subset=["expression"])

df2_fill = df2.copy()
# Llena los vacios con la mediana
df2_fill["expression"] = df2_fill["expression"].fillna(df2_fill["expression"].median())

In [25]:
# Datos largos vs anchos (long vs wide)

# Crea un “wide” (muestras como filas, genes como columnas)
df_long = pd.DataFrame({
    "sample_id": ["S01","S01","S02","S02","S03","S03"],
    "gene": ["G1","G2","G1","G2","G1","G2"],
    "expression": [10, 3, 12, 4, 9, 2],
    "group": ["control","control","control","control","treated","treated"]
})
df_long

  sample_id gene  expression    group
0       S01   G1          10  control
1       S01   G2           3  control
2       S02   G1          12  control
3       S02   G2           4  control
4       S03   G1           9  treated
5       S03   G2           2  treated

In [26]:
# Pivote a wide
df_wide = df_long.pivot(index="sample_id", columns="gene", values="expression")
df_wide

gene       G1  G2
sample_id
S01        10   3
S02        12   4
S03         9   2

In [27]:
# Volver a long
df_long_again = df_wide.reset_index().melt(id_vars="sample_id", var_name="gene", value_name="expression")
df_long_again

  sample_id gene  expression
0       S01   G1          10
1       S02   G1          12
2       S03   G1           9
3       S01   G2           3
4       S02   G2           4
5       S03   G2           2

In [28]:
# Merge/Join (para juntar metadata + mediciones)
meta = pd.DataFrame({
    "sample_id": ["S01","S02","S03"],
    "patient_id": ["P1","P2","P3"],
    "age": [45, 51, 39]
})

merged = df_long.merge(meta, on="sample_id", how="left")
merged

  sample_id gene  expression    group patient_id  age
0       S01   G1          10  control         P1   45
1       S01   G2           3  control         P1   45
2       S02   G1          12  control         P2   51
3       S02   G2           4  control         P2   51
4       S03   G1           9  treated         P3   39
5       S03   G2           2  treated         P3   39

In [29]:
merged["age"].isna().sum()

np.int64(0)

In [30]:
merged["sample_id"].nunique(), merged["patient_id"].nunique()

(3, 3)

In [31]:
# Guardar y cargar
# Por defecto, pandas escribe el índice como una columna más. Con index=False no lo hace.
df.to_csv("toy_expression.csv", index=False)
df_loaded = pd.read_csv("toy_expression.csv")
df_loaded.head()

  sample_id    group  gene  expression sex  log_expression  is_treated
0       S01  control  NGAL        10.2   F        2.415914           0
1       S02  control  NGAL         9.7   M        2.370244           0
2       S03  control  NGAL        11.1   F        2.493205           0
3       S04  control  NGAL        10.5   M        2.442347           0
4       S05  control  NGAL         9.9   F        2.388763           0

In [32]:
# Ejercicio
summary = df.groupby("group").agg(
    n=("expression", "count"),
    mean=("expression", "mean"),
    std=("expression", "std"),
    median=("expression", "median"),
    p25=("expression", lambda s: s.quantile(0.25)),
    p75=("expression", lambda s: s.quantile(0.75)),
)
print(summary)

df["log_expression"] = np.log1p(df["expression"])

treated_sorted = df[df["group"] == "treated"].sort_values("expression", ascending=False)
print(treated_sorted[["sample_id","expression","log_expression"]])

df.to_csv("toy_expression.csv", index=False)
df_loaded = pd.read_csv("toy_expression.csv")
print(df.shape, df_loaded.shape, (df_loaded.shape == df.shape))

         n       mean       std  median     p25     p75
group
control  6  10.233333  0.504645    10.1   9.925  10.425
treated  6  14.866667  0.804156    14.9  14.325  15.325
   sample_id  expression  log_expression
10       S11        16.0        2.833213
11       S12        15.4        2.797281
7        S08        15.1        2.778819
9        S10        14.7        2.753661
6        S07        14.2        2.721295
8        S09        13.8        2.694627
(12, 7) (12, 7) True

In [33]:
np.random.seed(42)

samples_df = pd.DataFrame({
    "sample_id": [f"S{i:02d}" for i in range(1, 13)],
    "group": ["control"]*6 + ["treated"]*6,
    "sex": ["F","M","F","M","F","M","F","M","F","M","F","M"],
    "age": [45, 51, 39, 62, 48, 55, 44, 50, 41, 60, 47, 53],
    "batch": ["B1","B1","B2","B2","B1","B2","B1","B2","B1","B2","B1","B2"],
    "collection_date": pd.date_range("2026-01-01", periods=12, freq="D"),
})
samples_df

   sample_id    group sex  age batch collection_date
0        S01  control   F   45    B1      2026-01-01
1        S02  control   M   51    B1      2026-01-02
2        S03  control   F   39    B2      2026-01-03
3        S04  control   M   62    B2      2026-01-04
4        S05  control   F   48    B1      2026-01-05
5        S06  control   M   55    B2      2026-01-06
6        S07  treated   F   44    B1      2026-01-07
7        S08  treated   M   50    B2      2026-01-08
8        S09  treated   F   41    B1      2026-01-09
9        S10  treated   M   60    B2      2026-01-10
10       S11  treated   F   47    B1      2026-01-11
11       S12  treated   M   53    B2      2026-01-12

In [34]:
genes = ["NGAL", "GENE_X", "GENE_Y"]

measures_df = pd.DataFrame({
    "sample_id": np.repeat(samples_df["sample_id"].values, len(genes)),
    "gene": np.tile(genes, len(samples_df)),
})

# expresión con diferencia por grupo + un batch effect artificial para que lo puedas detectar
base = np.where(np.repeat(samples_df["group"].values, len(genes)) == "treated", 15.0, 10.0)
batch_shift = np.where(np.repeat(samples_df["batch"].values, len(genes)) == "B2", 1.2, 0.0)  # batch effect
noise = np.random.normal(0, 0.7, size=len(measures_df))

measures_df["expression"] = (base + batch_shift + noise).round(3)
measures_df

   sample_id    gene  expression
0        S01    NGAL      10.348
1        S01  GENE_X       9.903
2        S01  GENE_Y      10.453
3        S02    NGAL      11.066
4        S02  GENE_X       9.836
5        S02  GENE_Y       9.836
6        S03    NGAL      12.305
7        S03  GENE_X      11.737
8        S03  GENE_Y      10.871
9        S04    NGAL      11.580
10       S04  GENE_X      10.876
11       S04  GENE_Y      10.874
12       S05    NGAL      10.169
13       S05  GENE_X       8.661
14       S05  GENE_Y       8.793
15       S06    NGAL      10.806
16       S06  GENE_X      10.491
17       S06  GENE_Y      11.420
18       S07    NGAL      14.364
19       S07  GENE_X      14.011
20       S07  GENE_Y      16.026
21       S08    NGAL      16.042
22       S08  GENE_X      16.247
23       S08  GENE_Y      15.203
24       S09    NGAL      14.619
25       S09  GENE_X      15.078
26       S09  GENE_Y      14.194
27       S10    NGAL      16.463
28       S10  GENE_X      15.780
29       S10  GENE_Y      15.996
30       S11    NGAL      14.579
31       S11  GENE_X      16.297
32       S11  GENE_Y      14.991
33       S12    NGAL      15.460
34       S12  GENE_X      16.776
35       S12  GENE_Y      15.345

In [ ]:
samples_df["group"] = samples_df["group"].astype("category")
samples_df["sex"] = samples_df["sex"].astype("category")
samples_df["batch"] = samples_df["batch"].astype("category")

measures_df["gene"] = measures_df["gene"].astype("category")

samples_df.dtypes, measures_df.dtypes

(sample_id                  object
 group                    category
 sex                      category
 age                         int64
 batch                    category
 collection_date    datetime64[ns]
 dtype: object,
 sample_id       object
 gene          category
 expression     float64
 dtype: object)

Para hacer directamente que una columna sea de tipo category en la creacion:

df = pd.DataFrame({
    "sample_id": [f"S{i:02d}" for i in range(1, 13)],
    "group": pd.Categorical(
        ["control", "treated"] * 6,
        categories=["control", "treated"]
    ),
    "batch": pd.Categorical(
        ["B1", "B2"] * 6
    )
})

mas usado si hay varias columnas:

df = pd.DataFrame({
    "group": ["control", "treated"] * 6,
    "batch": ["B1", "B2"] * 6
}).astype({
    "group": "category",
    "batch": "category"
})

In [36]:
df = measures_df.merge(samples_df, on="sample_id", how="left")
df.head()

  sample_id    gene  expression    group sex  age batch collection_date
0       S01    NGAL      10.348  control   F   45    B1      2026-01-01
1       S01  GENE_X       9.903  control   F   45    B1      2026-01-01
2       S01  GENE_Y      10.453  control   F   45    B1      2026-01-01
3       S02    NGAL      11.066  control   M   51    B1      2026-01-02
4       S02  GENE_X       9.836  control   M   51    B1      2026-01-02

In [37]:
df["age"].isna().sum(), df.shape

(np.int64(0), (36, 8))

In [43]:
# Medias por grupo y por batch

means_group = df.groupby(["gene", "group"]).agg(
    n=("expression", "count"),
    mean=("expression", "mean"),
    std=("expression", "std"),
)

means_group

C:\Users\raulo\AppData\Local\Temp\ipykernel_12092\4133035744.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  means_group = df.groupby(["gene", "group"]).agg(

                n       mean       std
gene   group
GENE_X control  6  10.250667  1.046695
       treated  6  15.698167  1.005920
GENE_Y control  6  10.374500  0.936629
       treated  6  15.292500  0.684296
NGAL   control  6  11.045667  0.798069
       treated  6  15.254500  0.869024

In [45]:
# Medias por grupo y por batch
means_group_batch = df.groupby(["gene", "group", "batch"]).agg(
    n=("expression", "count"),
    mean=("expression", "mean"),
    std=("expression", "std"),
).reset_index()

means_group_batch

C:\Users\raulo\AppData\Local\Temp\ipykernel_12092\3450060789.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  means_group_batch = df.groupby(["gene", "group", "batch"]).agg(

      gene    group batch  n       mean       std
0   GENE_X  control    B1  3   9.466667  0.698532
1   GENE_X  control    B2  3  11.034667  0.637974
2   GENE_X  treated    B1  3  15.128667  1.143842
3   GENE_X  treated    B2  3  16.267667  0.498322
4   GENE_Y  control    B1  3   9.694000  0.839061
5   GENE_Y  control    B2  3  11.055000  0.316103
6   GENE_Y  treated    B1  3  15.070333  0.918573
7   GENE_Y  treated    B2  3  15.514667  0.422850
8     NGAL  control    B1  3  10.527667  0.474723
9     NGAL  control    B2  3  11.563667  0.749633
10    NGAL  treated    B1  3  14.520667  0.137143
11    NGAL  treated    B2  3  15.988333  0.503649

In [47]:
pivot = means_group_batch.pivot_table(
    index=["gene", "group"],
    columns="batch",
    values="mean"
)

pivot["batch_effect_B2_minus_B1"] = pivot.get("B2") - pivot.get("B1")
pivot = pivot.reset_index()

pivot.sort_values("batch_effect_B2_minus_B1", ascending=False)

C:\Users\raulo\AppData\Local\Temp\ipykernel_12092\3851702495.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  pivot = means_group_batch.pivot_table(

batch    gene    group         B1         B2  batch_effect_B2_minus_B1
0      GENE_X  control   9.466667  11.034667                  1.568000
5        NGAL  treated  14.520667  15.988333                  1.467667
2      GENE_Y  control   9.694000  11.055000                  1.361000
1      GENE_X  treated  15.128667  16.267667                  1.139000
4        NGAL  control  10.527667  11.563667                  1.036000
3      GENE_Y  treated  15.070333  15.514667                  0.444333

In [51]:
#Simulamos NA y arreglamos
df_na = df.copy()
df_na.loc[df_na.sample(frac=0.05, random_state=1).index, "expression"] = np.nan

df_na["expression"].isna().sum()

np.int64(2)

In [49]:
df_fill = df_na.copy()
df_fill["expression"] = df_fill["expression"].fillna(df_fill["expression"].median())

df_drop = df_na.dropna(subset=["expression"])

df_na.shape, df_fill.shape, df_drop.shape

((36, 8), (36, 8), (34, 8))

In [52]:
# concat
new_samples = pd.DataFrame({
    "sample_id": ["S13", "S14"],
    "group": ["control", "treated"],
    "sex": ["F", "M"],
    "age": [46, 52],
    "batch": ["B1", "B2"],
    "collection_date": ["2026-01-13", "2026-01-14"],
})

# fechas
new_samples["collection_date"] = pd.to_datetime(new_samples["collection_date"])

# categorías alineadas (si no, pandas te lo sube a object)
for col in ["group", "sex", "batch"]:
    new_samples[col] = new_samples[col].astype("category")

samples_all = pd.concat([samples_df, new_samples], ignore_index=True)
samples_all.tail()

   sample_id    group sex  age batch collection_date
9        S10  treated   M   60    B2      2026-01-10
10       S11  treated   F   47    B1      2026-01-11
11       S12  treated   M   53    B2      2026-01-12
12       S13  control   F   46    B1      2026-01-13
13       S14  treated   M   52    B2      2026-01-14

In [53]:
# Fechas: to_datetime + resample básico
df_dates = df.copy()
df_dates["collection_date"] = pd.to_datetime(df_dates["collection_date"])

# media diaria (podría ser semanal si cambias "D" por "W")
ts = (
    df_dates[df_dates["gene"] == "NGAL"]
    .set_index("collection_date")
    .groupby("group")["expression"]
    .resample("D")
    .mean()
)

ts

C:\Users\raulo\AppData\Local\Temp\ipykernel_12092\1948505343.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby("group")["expression"]

group    collection_date
control  2026-01-01         10.348
         2026-01-02         11.066
         2026-01-03         12.305
         2026-01-04         11.580
         2026-01-05         10.169
         2026-01-06         10.806
treated  2026-01-07         14.364
         2026-01-08         16.042
         2026-01-09         14.619
         2026-01-10         16.463
         2026-01-11         14.579
         2026-01-12         15.460
Name: expression, dtype: float64

In [54]:
df.to_csv("data_processed_ready_for_stats.csv", index=False)

I created samples_df (sample-level metadata) and measures_df (gene expression per sample).
I merged both tables on sample_id to obtain df with expression values and covariates (group, sex, age, batch, collection_date).
I computed means and dispersion by gene and group, and also stratified by batch to inspect systematic differences.
I estimated a basic batch effect as mean(B2) - mean(B1) per gene and group.
The final table ready for statistical analysis is df (long format), exported to CSV for downstream tests and models.

He creado samples_df (metadata por muestra) y measures_df (expresión por gen y muestra).
Uní ambas con merge por sample_id para obtener df con expresión + covariables (group/sex/age/batch/fecha).
Calculé medias y dispersión por gene y group, y también estratificando por batch para ver diferencias sistemáticas.
Estimé batch effect básico como mean(B2) - mean(B1) por gene y group.
La tabla final lista para estadística es df (formato largo), guardada a CSV para usarla en tests y modelos.